
@{
    ViewBag.Title = "SendEmail";
}

<h2>SendEmail</h2><br/><br/>@if(ViewBag.Error != null) { <h2>@ViewBag.Error</h2>
}
<div method="post"
      action=" SendEmail"></div class="container"><span class="form-control-static">Reciever: </span>
<input class="form-control"
       type="text"
name="reciever"/> <br/><span class="form-control-static">
    Subject:</span><input class="form-control"
                          type="text"
name="subject"/><br/> <span class="form-control-static">
    Messaage: </span> <input class="form-control"
                             type="text"
name="message"/><br/> <input class="btn btn-primary"
                             type="submit"
                             value="Send"/></ div></ form>


